*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: #6C6D70;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 24px;
}
main{
    padding-top: 80px;
}
.site-main{
    border-bottom: 1px solid #D1D2D4;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
}
.auth{
    padding: 20px 0;
}
.auth-container {
    max-width: 1170px;
    width: 100%;
    padding: 0 16px;
    -webkit-margin-start: auto;
    margin-inline-start: auto;
    -webkit-margin-end: auto;
    margin-inline-end: auto;
}
.auth-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -16px;
    position: relative;
}
.auth-row:before {
    position: absolute;
    content: "";
    height: 300px;
    width: 1px;
    left: 50%;
    top: 0;
    background-color: #e7e8e9;
}
.auth-login, .auth-register{
    flex: 0 0 480px;
    max-width: 100%;
    padding: 0 15px;
    text-align: center;
}
.auth-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0;
    color: #221f20;
}
.auth-title+.auth-login_content{
    margin-top: 16px;
}
.auth-description {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    color: #6c6d70;
}
.auth-form {
    margin-top: 24px;
    width: 390px;
    max-width: 100%;
    -webkit-margin-start: auto;
    margin-inline-start: auto;
    -webkit-margin-end: auto;
    margin-inline-end: auto;
}
.auth-form_group{
    margin-bottom: 24px;
}
.auth-form .form-control{
    width: 100%;
}
input{
    border: 1px solid #E7E8E9;
    border-radius: 4px;
    padding: 15px;
    font-size: 14px;
    color: #57585A;
    font-family: 'Montserrat', sans-serif;
}
.form-control{
    border-radius: 4px;
    width: 100%;
    height: 48px;
    border: 1px solid #e7e8e9;
    background: #ffffff;
    font-size: 14px;
    line-height: 16px;
    padding: 15px 16px;
    font-family: "Montserrat", sans-serif;
    outline: none;
}
.auth-form_options .form-checkbox {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.auth-form_link {
    color: #221f20;
    font-size: 14px;
    line-height: 16px;
    text-decoration: underline;
}
.auth-form_button{
    margin-top: 32px;
}
.auth-form_button .btn {
    width: 100%;
    text-transform: uppercase;
    font-weight: 600;
}
.btn--large {
    padding: 12px 24px;
    border-radius: 16px 0px;
    font-size: 16px;
    line-height: 24px;
    background-color: #221f20;
    color: #f7f8f9;
    border: 1px solid transparent;
}